.radio-full-width {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .radio-full-width .ant-radio-wrapper {
    width: 100%;
  }
  
  .radio-full-width .ant-radio + * {
    width: 100%;
  }
  