@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-selection-1: #fee2e2;
    --bg-selection-2: #dbeafe;
    --bg-selection-3: #dcfce7;
    --bg-selection-4: #fef9c3;
    --bg-selection-5: #f3e8ff;
    --bg-selection-6: #fce7f3;
    --bg-selection-7: #cffafe;
    --bg-selection-8: #ffedd5;   
    /* add more as needed */
  }
  
  /* ScrollStyles.module.css */
/* Scrollbar container */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Makes the track invisible */
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* Slightly darker gray for the thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid transparent; /* Ensures the thumb looks clean */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Darker gray on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #c1c1c1 transparent; /* Thumb color and transparent track */
}
