@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-selection-1: #dc2626;
    --bg-selection-2: #93c5fd;
    --bg-selection-3: #86efac;
    --bg-selection-4: #fde047;
    --bg-selection-5: #d8b4fe;
    --bg-selection-6: #f9a8d4;
    --bg-selection-7: #67e8f9;
    --bg-selection-8: #fdba74;   
    /* add more as needed */
  }
  