@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-selection-1: #fee2e2;
    --bg-selection-2: #dbeafe;
    --bg-selection-3: #dcfce7;
    --bg-selection-4: #fef9c3;
    --bg-selection-5: #f3e8ff;
    --bg-selection-6: #fce7f3;
    --bg-selection-7: #cffafe;
    --bg-selection-8: #ffedd5;   
    /* add more as needed */
  }
  